# Hugo
public/
resources/_gen/
.hugo_build.lock

# Node
node_modules/
package-lock.json

# Environment
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Temporary files
*.log
*.tmp

# Legacy
.vercel
